.card

    .flex.gap-10px.flex-col.w-full
        div(class='flex items-center gap-10px justify-between w-full')
            h2(class='font-inter font-bold text-base lg:text-lg')  Deals Registered/Closed
            div(class='card-filter w-max bg-transparent border-transparent px-5px')
                label(for='deals_chart_year' class='w-max') Select a year:
                select(id='deals_chart_year' name='deals_chart_year').bg-transparent.text-blackBlue.font-bold
                    option 2023
                    option 2022
                    option 2021
                    option 2020
                    option 2019
                    option 2018
                    option 2017
                    option 2016
        .divider

    div
        canvas(
            class='bar-chart-double'
            data-labels='Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec'
            data-values='577,322,400,523,348,349,546,485,194,345,148,567'
            data-values2='400,523,348,349,546,485,478,322,400,489,183,246'
            data-colors='#39B4EF,#C4E9FB'
            data-datalabels='Deal Registered,Deals Closed'
        )

    div(class='flex flex-col sm:flex-row sm:items-center gap-10px sm:justify-between w-full')
        div(class='flex items-center gap-10px')
            .flex.items-center.gap-5px
                div(class='w-[12px] h-[12px] block bg-blue rounded-full')
                span.text-sm.font-semibold Deals Registered
            .flex.items-center.gap-5px
                div(class='w-[12px] h-[12px] block bg-blueChart rounded-full')
                span.text-sm.font-semibold Deals Closed
        span.text-sm.text-textGray Last Updated: 1hr ago

