.card

    .flex.gap-15px.flex-col.w-full
        h2(class='font-inter font-bold text-lg') Partner Revenues
        .divider

    div(class='h-[320px]')
        canvas(
            class='line-chart'
            data-label='Revenue'
            data-labels='Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec'
            data-values='247,322,195,523,348,485,322,466,523,348,349,583'
            data-colors='#39B4EF'
        )

