.card

    .flex.gap-15px.flex-col.w-full
        div(class='flex justify-between w-full overflow-hidden flex-row items-center text-sm mdl:text-base-15')
            h2(class='font-inter font-bold text-base lg:text-lg') Partner Revenues

            a(href='../templates/vendor-analytics.html' class='btn border-blue text-white bg-blue sm:text-xs text-sm hover:bg-white hover:text-blue')
                span View Analytics

        .divider

        div(class='flex justify-between tabs w-full overflow-hidden flex-col sm:flex-row items-start md:items-center text-sm mdl:text-base-15')

            div(class='flex items-start text-textGray font-semibold gap-20px pt-0 sm:pt-10px')
                a(href='#totalRevenue' class='tab-item active') Total Revenues
                a(href='#perMonthRevenue' class='tab-item') Revenues per month

            div(class='card-filter w-max bg-transparent border-transparent px-5px')
                label(for='revenue_year' class='w-max') Select a year:
                select(id='revenue_year' name='revenue_year').bg-transparent.text-blackBlue.font-bold
                    option 2023
                    option 2022
                    option 2021
                    option 2020
                    option 2019
                    option 2018
                    option 2017
                    option 2016

    div(id='totalRevenue' class='tab-content')
        div(class='h-[320px]')
            canvas(
                class='line-chart'
                data-label='Revenue'
                data-labels='Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec'
                data-values='247,322,195,523,348,485,322,466,523,348,349,583'
                data-colors='#39B4EF'
                data-bgcolors='#C4E9FB'
            )
    div(id='perMonthRevenue' class='tab-content hidden')
        div(class='h-[320px]')
            canvas(
                class='line-chart'
                data-label='Revenue'
                data-labels='Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec'
                data-values='247,322,195,523,348,485,322,466,523,348,349,583'
                data-colors='#1DE39C'
                data-bgcolors='#BCF7E2'
            )

