mixin menuItem(name,href)
    li.w-full
        a(href=href class='hover:text-blue text-textGray text-sm font-semibold transition-colors duration-200 w-full').flex.items-center.gap-5px
            span=name

mixin menuLinkPrimary(name, href)
    a(href=href class='hover:text-blue text-textGray text-sm font-semibold transition-colors duration-200 has-submenu w-full').flex.items-center.gap-5px
        span=name
        img(src='../assets/images/global/arrow-down-menu.svg' alt='chevron icon' class='ml-auto mr-10px')

mixin menuSubItem(name, href)
    li.w-full
        a(href=href class='hover:text-blue text-sm transition-colors duration-200 py-5px text-textGray w-full')=name

nav(id='mobileMenu' class='bg-white fixed top-0 left-0 h-screen w-screen max-w-[250px] border-r border-gray z-40 flex text-base-15')
    .flex.flex-col.w-full

        div(class="w-full h-[60px] px-20px border-b border-gray flex items-center")
            a(class="w-[80px] pb-5px block header-logo" href="../templates/vendor-dashboard.html")
                img(class="w-full h-auto" src="../assets/images/global/logo.svg" alt="Elioplus Logo" title="Elioplus Logo" width="110" height="52")

        .flex.flex-col.pl-20px.pr-10px.py-20px.grow.overflow-y-auto.gap-15px

            a(href='../templates/vendor-dashboard.html' class='hover:text-blue transition-colors duration-200').flex.items-center.gap-5px.font-bold
                img(src='../assets/images/global/dashboard.svg' alt='chevron icon')
                span Dashboard
                img(src='../assets/images/global/arrow-right-menu.svg' alt='chevron icon')
            .divider

            div(class='flex flex-col gap-10px')
                a(href='' class='flex items-center gap-5px')
                    div(class='bg-blue rounded-full w-[10px] h-[10px]')
                    span.font-bold Partner Recruitment

                ul.flex.flex-col.gap-10px.pl-15px
                    li.flex.flex-col.gap-10px
                        +menuLinkPrimary('My Matches', '#')
                        ul.pl-10px.hidden
                            +menuSubItem('My Matches', '../templates/vendor-my-matches-pr-automate.html')
                            +menuSubItem('Matching Criteria', '../templates/vendor-pr-matching-criteria.html')
                    li.flex.flex-col.gap-10px
                        +menuLinkPrimary('Opportunities', '#')
                        ul.pl-10px.hidden
                            +menuSubItem('Opportunities', '../templates/vendor-opportunities.html')
                            +menuSubItem('Add Opportunity', '../templates/vendor-opportunities-add.html')
                            +menuSubItem('Tasks', '../templates/vendor-opportunities-tasks.html')
                    +menuItem('Messages', '../templates/vendor-messages.html')

            .divider

            div(class='flex flex-col gap-10px')
                a(href='' class='flex items-center gap-5px')
                    div(class='bg-blue rounded-full w-[10px] h-[10px]')
                    span.font-bold Partner Management

                ul.flex.flex-col.gap-10px.pl-15px
                    li.flex.flex-col.gap-10px
                        +menuLinkPrimary('Partner Directory', '#')
                        ul.pl-10px.hidden
                            +menuSubItem('Manage Partners', '../templates/vendor-partner-directory.html')
                            +menuSubItem('Partner Requests', '../templates/vendor-partner-directory-requests.html')
                            +menuSubItem('Send Invitations', '../templates/vendor-partner-directory-invite.html')
                    li.flex.flex-col.gap-10px
                        +menuLinkPrimary('Analytics', '#')
                        ul.pl-10px.hidden
                            +menuSubItem('General Analytics', '../templates/vendor-analytics.html')
                            +menuSubItem('Sales Leaderboard', '../templates/vendor-prm-analytics-sales-leaderboard.html')
                            +menuSubItem('Active Partners', '../templates/vendor-prm-analytics-active-partners.html')
                    +menuItem('Content Library', '../templates/vendor-content-library.html')
                    +menuItem('Partner Onboarding', '../templates/vendor-partner-onboarding.html')
                    +menuItem('Deal Registration', '../templates/vendor-deal-registration.html')
                    li.flex.flex-col.gap-10px
                        +menuLinkPrimary('Lead Distribution', '#')
                        ul.pl-10px.hidden
                            +menuSubItem('Manage Leads', '../templates/vendor-lead-distribution.html')
                            +menuSubItem('Add new lead', '../templates/vendor-lead-distribution-add.html')
                    +menuItem('Collaborate', '../templates/vendor-collaboration.html')
                    +menuItem('Payouts', '../templates/vendor-payouts.html')
                    +menuItem('Tier Management', '../templates/vendor-tier-management.html')
                    +menuItem('Partner Locator', '../templates/vendor-partner-locator.html')

            .divider

            div(class='flex flex-col gap-10px')
                a(href='' class='flex items-center gap-5px')
                    div(class='bg-blue rounded-full w-[10px] h-[10px]')
                    span.font-bold Team & Integrations

                ul.flex.flex-col.gap-10px.pl-15px
                    +menuItem('Integrations', '../templates/vendor-integrations.html')
                    +menuItem('Team Management', '../templates/vendor-team-managment.html')
                    +menuItem('Role Management', '../templates/vendor-role-management.html')

            .divider

            div(class='flex flex-col gap-10px')
                a(href='' class='flex items-center gap-5px')
                    div(class='bg-blue rounded-full w-[10px] h-[10px]')
                    span.font-bold Settings

                ul.flex.flex-col.gap-10px.pl-15px
                    +menuItem('Account Settings', '../templates/vendor-settings-account.html')
                    +menuItem('Business Preferences', '../templates/vendor-business-preferences.html')
                    +menuItem('Billing Information', '../templates/vendor-billing.html')





